.grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: wrap;
    height: 100%;
    padding: 15px;
    gap: 5px;
}

.grid > div {
    background-color: linen;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    width: fit-content;
    height: fit-content;
}