@import "../../node_modules/normalize.css/normalize.css";
@import "./grid.css";
@import "./panel.css";
@import "./button.css";
@import "./form.css";
@import "./style.css";

:root {
  --font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
  text-rendering: geometricPrecision;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  background-color: linen;
  font-size: 1.6rem;
  line-height: 1.4;
  word-wrap: break-word;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em;
}